<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>
        table, th, td {
            border: 1px solid;
            border-collapse: collapse;
            text-align: center;
        }
        tr:hover td {
            background-color: lightblue;
        }
        td {
        }
    </style>
</head>
<body>
<div>
    <p>Список людей</p>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Фамилия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, it : ${users}">
            <th th:text="${it.index}+1"></th>
            <td th:text="${user.name}"></td>
            <td th:text="${user.family}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>